<!DOCTYPE html>
<html>

<head>
  <title>Hello @Model.Name!</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <meta charset='utf-8'>
</head>

<body>
  <h1>Mad Libs</h1>
  <p>Once there was a young @Model.Noun named @Model.Name.
    @Model.Pronoun was a wizard! 🧙‍♂️</p>
  One day, an owl came with a letter for @Model.Name.</p>
  <p>It said, "Please come to Hogwarts and learn magic. You will need a robe and a @Model.ItemChoice,
    and you may bring one pet. Your ticket for the Hogwarts Express is enclosed."</p>
  <p>@Model.Name went to Diagon Alley and bought a @Model.Color @Model.Animal.</p>
  <p>@Model.Name named their pet @Model.AnimalName 🦂.</p>
  <p>Then it was time to go to Hogwarts. On the Hogwarts Express, @Model.Name got some wizard candy. There were chocolate frogs and pumpkin pasteries, 
     and even Bertie Bott's every flavor beans. The best flavor was @Model.Flavor. Yum! 🍭</p>
     <p>At Hogwarts the Sorting Hat put @Model.Name in @Model.HouseName.
      Then it was time to learn some magic!</p> 
    <p>The teachers taught everyone how to turn rats into teacups, make things float in the air, and take care of magical animals. 🕷</p>
    <p>@Model.Name's favorite class was @Model.ClassName because @Model.WhyBestClass.</p>
     <p>@Model.Name and @Model.AnimalName love being at Howarts!</p>

  <p></p>
  <p></p>
  <p></p>
</body>

</html>